<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Pet</title>
  </head>
  <body>
    <h1>Add New Pet</h1>
    <form action="/pets" method="POST">
      <label>Name:</label>
      <input type="text" name="name" required />

      <label>Type:</label>
      <input type="text" name="type" required />

      <label>Age:</label>
      <input type="number" name="age" required />

      <label for="hasOwner">Has Owner:</label>
      <input type="hidden" name="hasOwner" value="false" />
      <input type="checkbox" name="hasOwner" value="true" <%= pet.hasOwner ?
      'checked' : '' %>>

      <button type="submit">Add Pet</button>
    </form>
  </body>
</html>
